/************** universal setting ***************/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

html,body {
	height: 100%;
	min-width: 960px;
}

body {
	background-color: #fafafa;
	font: 12px "微软雅黑", Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
	color: #333;
}
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}
ul{
    list-style: none outside none;
}
li{
    float: left;
}
.hide{
    display: none;
}

/*************************************/
header{
    background-color: white;
}
#mainnav{
	background: #FAFAFA;
	background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
	background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
	position: relative;
	z-index: 10;
	border-bottom: 1px solid #CACACA;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px
		rgba(0, 0, 0, 0.1);
	height: 40px;
}
#subnav{
    /** background: #FF9100;
    background: -moz-linear-gradient(#FFA140, #FF9C00);
    background: -webkit-linear-gradient(#FFA140, #FF9C00);
    -ms-filter:
        "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffA140',endColorstr='#ff8c00')";
    **/
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px
        rgba(0, 0, 0, 0.1);
    height: 26px;
    margin-bottom: 2px;
}
.container {
	width: 980px;
	margin: 0 auto;
}

.site-logo {
	float: left;
	position: relative;
	zoom: 1;
}

.site-logo img {
	position: absolute;
	left: 0;
}

.topnav {
	float: left;
	clear: none;
	width: auto;
	border-left: 1px solid #FAFAFA;
	box-shadow: -1px 0 0 #e0e0e0;
	padding: 6px;
	height: 26px;
	margin: 0 0 0 168px;
}

.search {
	position: relative;
    float: left;
}

.topnav .search input {
	float: left;
	background-color: white;
	border: 1px solid #DDD;
	border-top: 1px solid #CDCDCD;
	box-shadow: 0 1px 0 #f1f1f1, inset 0 1px 1px #e0e0e0;
	padding: 4px 5px 2px 30px;
	color: #333;
	font-size: 14px;
	width: 500px;
    border-radius: 8px;
    line-height: 16px;
    text-shadow: 0px 1px 0px white;
}

.topnav input.button {
	display: none;
}

.topnav .search .mini-icon {
	position: absolute;
	left: 8px;
	top: 7px;
}

.mini-icon.search-input {
	background-image: url('/static/img/icons.png');
	background-position: -154px 0;
}

.mini-icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
#linkNav{
    line-height: 26px;
    float: left;
    padding: 0 2px 0 20px;
    color: #FF6C00;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #DDD;
}
#category_nav{
    line-height: 26px;
    padding-left: 9px;
}
.cateLinkOn{
    color: #234567 !important;
    background: #FAFBFD;
    background: -moz-linear-gradient(#FAFBFD, #DCE6EF);
    background: -webkit-linear-gradient(#FAFBFD, #DCE6EF);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFBFD',endColorstr='#DCE6EF')";
    border-bottom: 1px solid #234567;
}
#category_nav li{
    float:left;
    border-right: 1px solid #E0E0E0;
    padding: 0 2px;
}
.cateLink, cateLink:visited{
    font-weight: bold;
    /** text-shadow: 0 1px 0 #FFEC83; **/
    text-shadow: 0 1px 0 #cacaca;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0 10px;
}
.cateLink:hover{
    text-shadow: 0 1px 0 #fff;
    color: #456789 !important;
}
#login_div{
    margin-left: 10px;
    line-height: 30px;
    float: left;
}
#loginLink, #loginLink:visited{
    box-shadow: -1px 0 0 #E0E0E0;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #567890;
    text-shadow: 0 1px 0 #FFFFFF;
    line-height: 40px;
    top: -6px;
    position: relative;
    display: block;
    padding: 0 20px;
    background: transparent;
    border-left: 1px solid #FAFAFA;
}
#loginLink:hover{
    color: #234567 !important;
    background: #FAFBFD;
    background: -moz-linear-gradient(#FAFBFD, #DCE6EF);
    background: -webkit-linear-gradient(#FAFBFD, #DCE6EF);
    -ms-filter:
        "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFBFD',endColorstr='#DCE6EF')";
    border-bottom: 2px solid #234567;
}
.profile{
    display: none;
    float: left;
}
.columnRight{
    width: 210px;
    float: right;
    border: 1px solid #DDD;
    margin-bottom: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}
.columnTopbar{
    position: relative;
    height: 28px;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.columnTopNav{
    margin-left: 4px;
    line-height: 28px;
}
.columnTopLi{
    text-shadow: 0px 1px 0px white;
}
.columnTopLi input{
    display: block;
    height: 28px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    padding: 0 6px;
    border-left: 1px solid #FAFAFA;
}
.columnTopLiSelected{
    border: 1px solid #DDD !important;
    border-bottom: none !important;
}
.columnTopLiSelected input{
    background: white !important;
    color: #FF6C00 !important;
    text-shadow: 1px 1px 1px #DDD !important;
}
.columnTopLi input:hover{
    text-shadow: 0px 1px 0px white;
    color: #456789;
    background: #FAFBFD;
    background: -moz-linear-gradient(#FAFBFD, #DCE6EF);
    background: -webkit-linear-gradient(#FAFBFD, #DCE6EF);
    -ms-filter:
        "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFBFD',endColorstr='#DCE6EF')";
}
.columnBodyNav li{
    float: none;
    display: block;
    padding: 4px 0 4px 8px;
}
.columnBodyNav li.odd{
    background-color: #FFF;
}
.columnBodyNav li.even{
    background-color: #fafafa;
}




/*********** main **********/
.main{
    float: left;
    width: 742px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
nav#cateSelect div{
    float: left;
    line-height: 26px;
    color: #333;
}
nav#cateSelect #cateExp{
    padding: 0 10px;
    text-shadow: 0 1px 0 #FFF;
    font-weight: bold;
}
nav#cateSelect{
    margin-bottom: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
    width: 738px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDDDDD;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
}
.cateSelectRight{
    float: right !important;
    margin-right: 20px;
}
.cateSelectRight input{
    font-weight: bold;
    cursor: pointer;
    line-height: 24px;
    padding: 0 6px;
    height: 24px;
    background-color: transparent;
    text-shadow: 0 1px 0 #FFF;
    font-size: 13px;
    color: #ee6c00;
}
nav#cateSelect ul{
    float: left;
}
nav#cateSelect ul li{
    font-size: 13px;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold; 
}
nav#cateSelect ul li input:hover{
    text-shadow: 0px 1px 0px white;
    color: #456789;
    background: #FAFBFD;
    background: -moz-linear-gradient(#FAFBFD, #DCE6EF);
    background: -webkit-linear-gradient(#FAFBFD, #DCE6EF);
    -ms-filter:
        "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFBFD',endColorstr='#DCE6EF')";
}
nav#cateSelect ul li input{
    cursor: pointer;
    padding: 0px 12px;
    line-height: 24px;
    height: 24px;
    background-color: transparent;  
    text-shadow: 0 1px 0 #FFF;
    color: #ee6c00;
}
input.cateDel{
    color: #FFF !important;
    text-shadow: 0px -1px 0px #999 !important;
}
.newArticles{
    float: left;
    width: 100%;
}
.newArt{
    float: left;
    width: 367px;
    margin-right: 2px;
    height: auto;
    min-height: 68px;
    margin-bottom: 2px;
    background: #FFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}
.newArtShort{
}
.newArtImg, .newArtTle, .newArtDesc{
    float: left;
    padding: 7px 7px 5px;

}
.newArt img{
    width: 88px;
    height: 66px;
    border-radius: 3px;
    border: 1px solid #999;
}
.newArtTle{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 2px;
    font-size: 13px;
}
.newArtTle a, .newArtTle a:visited{
    font-size: 1wpx;
    font-weight: bold;
    color: #456789;
    text-decoration: none;
    line-height: 16px;

}
.newArtTle a:hover{
    color: #EE6C00;
}

.newArtDesc{
    width: 243px;
    padding: 2px 10px 6px;
}
.newArtDescLong{
    width: 347px;
}

