{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="main">
        <nav id="cateSelect">
            <div id="cateExp">感兴趣的分类 >></div>
            <ul>
                <li><input type="button" class="cateOpt" cate="1" sel=1 value="动"/></li>
                <li><input type="button" class="cateOpt" cate="58" sel=1 value="音"/></li>
                <li><input type="button" class="cateOpt" cate="59" sel=1 value="游"/></li>
                <li><input type="button" class="cateOpt" cate="60" sel=1 value="娱"/></li>
                <li><input type="button" class="cateOpt" cate="62" sel=1 value="番"/></li>
                <li><input type="button" class="cateOpt" cate="62" sel=1 value="影"/></li>
            </ul>
            <ul class="cateSelectRight">
                <li><input type="button" value="缩略图" sel=0 onclick="flipPre(this)"/></li>
            </ul>
        </nav>
        <div id="newArticles">
        {% autoescape off %}
        {% for item in articles %}
            <div class="newArt {% if forloop.counter > 40 %}hide{% endif %} ">
                <div class="newArtImg"><img src="{{ item.image }}"/></div>
                <div class="newArtTle"><a target="_blank" href="{{ item.link }}">{{ item.title|slice:":18" }}</a></div>
                <div class="newArtDesc">{{ item.desc|slice:":50" }}</div>
            </div>
        {% endfor %}
        {% endautoescape %}
        </div>
    </div>
    <div class="columnRight">
        <div class="columnTopbar">
            <ul class="columnTopNav">
                <li class="columnTopLi columnTopLiSelected" id="navDayHot" onclick="showHot(0)"><input type="button" style="border-left: none" value="今日热点"></p></li>
                <li class="columnTopLi" id="navWeekHot" onclick="showHot(1)"><input type="button" value="本周热点"></li>
                <li class="columnTopLi" id="navMonthHot" onclick="showHot(2)"><input type="button" value="当月热点"></li>
            </ul>
        </div>
        <ul class="columnBodyNav " id="dayHot">
        {% for item in dayHot %}
            <li class="{{forloop.counter|divisibleby:2|yesno:"even,odd"}}">今日热点{{ item.name }}</li>
        {% endfor %}
        </ul>

        <ul class="columnBodyNav" id="weekHot" style="display: none">
        {% for item in weekHot %}
            <li class="{{forloop.counter|divisibleby:2|yesno:"even,odd"}}">本周热点{{ item.name }}</li>
        {% endfor %}
        </ul>

        <ul class="columnBodyNav" id="monthHot" style="display: none">
        {% for item in monthHot %}
            <li class="{{forloop.counter|divisibleby:2|yesno:"even,odd"}}">当月热点{{ item.name }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="columnRight">
        <div class="columnTopbar">
            <ul class="columnTopNav">
                <li class="columnTopLi"><input type="button" style="border-left: none" value="热门文章"></li>
            </ul>
        </div>
        <ul class="columnBodyNav">
        {% for item in hotArticle %}
            <li class="{{forloop.counter|divisibleby:2|yesno:"even,odd"}}">热门文章{{ item.name }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
