<!DOCTYPE HTML>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
<title>{% block title %}{% endblock %}</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script
    src="/static/js/json2.min.js"></script>
<script
    src="/static/js/index.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="wrapper">
		<header>
            <nav id="mainnav">
                <div class="container">
                    <a class="site-logo" href="http://www.acfun.tv/"> <img
                        alt="ACFun" height="45" src="/static/img/logo.png">
                    </a>
                    <div class="topnav">
                        <div class="search">
                            <form id="searchForm" action="http://www.acfun.tv/search.aspx" method="get" target="_blank">
                                <input type="text" class="search" id="global-search-field"
                                    name="q" results="20" spellcheck="false" autocomplete="off">
                                <input type="submit" value="Search" class="button"> <span
                                    class="mini-icon search-input"></span>
                            </form>
                        </div>
                        <div class="profile">
                            {% if logged_in %}
                            {% endif %}
                        </div>
                        <div id="login_div">
                            <a href="http://www.acfun.tv/login.aspx" id="loginLink">登 录</a>
                        </div>
                    </div>
                </div>
            </nav>
            <nav id="subnav">
                <div class="container">
                    <ul id="category_nav">
                        <li><a href="http://www.acfun.tv/v/list1/index.htm" class="cateLink">动画</a></li>
                        <li><a href="http://www.acfun.tv/v/list58/index.htm" class="cateLink">音乐</a></li>
                        <li><a href="http://www.acfun.tv/v/list59/index.htm" class="cateLink">游戏</a></li>
                        <li><a href="http://www.acfun.tv/v/list60/index.htm" class="cateLink">娱乐</a></li>
                        <li><a href="http://www.acfun.tv/v/list62/index.htm" class="cateLink">番剧</a></li>
                        <li><a href="http://www.acfun.tv/v/list62/index.htm" class="cateLink">短影</a></li>
                        <li><a href="http://www.acfun.tv/v/list63/index.htm" class="cateLink">文章</a></li>
                        <li style="border-right: none"><a href="http://wiki.acfun.tv/" class="cateLink">维基</a></li>
                    </ul>
                </div>
            </nav>
		</header>
		<div id="site">{% block content %} {% endblock %}</div>
	</div>
	<div id="footer"></div>
</body>
</html>
